@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Bridgeheads */
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}
/* End bridgeheads */

/* Centered dedications */
section[epub|type~="dedication"]{
	font-size: large;
	font-variant: small-caps;
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

/* Letter CSS */
[epub|type~="se:letter.dateline"]{
	margin-right: 2em;
	text-align: right;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:signature"]{
	margin-right: 2em;
	text-align: right;
}
/* End Letter CSS */

/* Illustrations */
/* If the image is meant to be on its own page, use this selector... */
figure.full-page{
	break-after: page;
	break-before: page;
	break-inside: avoid;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}

/* If the image is meant to be aligned block-level with the text, use this selector... */
figure{
	break-inside: avoid;
	margin: 1em 40px;
	text-align: center;
}

/* In all cases, also include the below styles */
figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
}

figcaption p + p{
	text-indent: 0;
}
/* End illustrations */

/* Table CSS */
table{
	margin: 1em auto 1em auto;
	width: auto;
}

table td:last-child{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

table tr:last-child td:first-child{
	padding-left: 1em;
}

table tr:last-child td:last-child{
	border-top: 1px solid;
}
/* End Table CSS */

/* Poem/Verse CSS */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}
/* End Verse CSS */

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

blockquote header p{
	font-variant: small-caps;
}

blockquote header p b{
	font-variant: normal;
}

#chapter-1 blockquote footer blockquote{
	font-variant: small-caps;
}

#chapter-1 blockquote footer blockquote b{
	font-variant: normal;
}

#chapter-1 blockquote footer blockquote:first-of-type p{
	text-align: center;
}

@supports(display: flex){
	#chapter-1 blockquote footer blockquote:first-of-type p{
		display: flex;
		justify-content: space-around;
	}
}

#chapter-1 footer{
	text-align: initial;
}

#chapter-13 blockquote{
	text-align: center;
}

#chapter-13 blockquote p{
	margin-bottom: 1em;
	text-indent: 0;
}

#chapter-21 hr + p{
	margin: 0;
	text-indent: 1em;
}

#chapter-26 blockquote:nth-of-type(2) blockquote{
	font-variant: small-caps;
	text-align: center;
}

#chapter-26 blockquote:nth-of-type(2) blockquote p + p{
	margin-top: 1em;
	text-indent: 0;
}

#chapter-26 blockquote:nth-of-type(2) footer{
	border-top: solid;
	font-size: smaller;
	text-align: center;
}

#chapter-26 blockquote:nth-of-type(2) strong{
	font-weight: bold;
}

#chapter-26 blockquote:nth-of-type(2) h2{
	border-bottom: solid;
}

#chapter-26 blockquote:nth-of-type(2) header > *{
	margin-bottom: 1em;
}

#chapter-26 blockquote:nth-of-type(2) header hgroup > *{
	margin-bottom: 1em;
}

#chapter-26 blockquote:nth-of-type(2) > p:first-of-type{
	text-align: center;
}

#chapter-29 blockquote,
#chapter-30 blockquote{
	font-variant: small-caps;
	text-align: center;
}

#preface footer{
	margin-right: 2em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

header p{
	font-variant: small-caps;
}

header [epub|type~="bridgehead"] + p{
	margin-top: 2em;
}

section article header,
section section header{
	margin-bottom: -2em;
	margin-top: 2em;
}
