@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Letter CSS */
[epub|type~="se:letter.dateline"]{
	margin-right: 2em;
	text-align: right;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:signature"]{
	margin-right: 2em;
	text-align: right;
}
/* End Letter CSS */

/* Table CSS */
table{
	margin: 1em auto 1em auto;
	width: auto;
}

table td:last-child{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

table tr:last-child td:first-child{
	padding-left: 1em;
}

table tr:last-child td:last-child{
	border-top: 1px solid;
}
/* End Table CSS */

/* Verse CSS */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

/* Verse CSS */
abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

blockquote header p{
	font-variant: small-caps;
}

blockquote header p b{
	font-variant: normal;
}

#chapter-1 blockquote footer blockquote{
	font-variant: small-caps;
}

#chapter-1 blockquote footer blockquote b{
	font-variant: normal;
}

#chapter-1 blockquote footer blockquote:first-of-type p{
	text-align: center;
}

@supports(display: flex){
	#chapter-1 blockquote footer blockquote:first-of-type p{
		display: flex;
		justify-content: space-around;
	}
}

#chapter-13 blockquote{
	text-align: center;
}

#chapter-13 blockquote p{
	margin-bottom: 1em;
	text-indent: 0;
}

footer{
	margin-top: 1em;
}
